
.navbar{
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 60px;
    box-shadow: 0 5px 5px rgb(216, 219, 220);
}
.menu{
    display: flex;
    list-style: none;
    gap: 20px;
}
a{
    text-decoration: none;
    color: #2D2D2d;
}